html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  position: relative;
  margin: 0;
  padding-bottom: 50px;
  min-height: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  height: 50px;
  text-align: center;
}

.image {
  border: 0;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.image img {
  display: block;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;

  max-width: 100%;
  height: auto;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.image:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1);
  -moz-transform: scale3d(1.1, 1.1, 1);
  -ms-transform: scale3d(1.1, 1.1, 1);
  -o-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}


.div-input label {
  width: 100%;
  text-align: center;
}

.div-input input {
  width: 100%;
  border-radius: 10px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
}

.div-input textarea {
  width: 100%;
  border-radius: 10px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  background-color: transparent;
  border-radius: 20px;
  padding: 5px 15px;
  border-width: 1px;
  text-transform: uppercase;
}


@media screen and (max-width: 990px) {
  .div-text {
    padding: 15px;
  }
}

@media screen and (min-width: 991px) {
  .div-right {
    float: right !important;
  }

  .div-text {
    padding-top: 100px;
  }
}

.profile-row {
  padding: 50px 0px;
}

.profile-thumbnail {
    height: 256px;
    width: 256px;
    opacity: 1.0;
}


